<%- include('../Admin/adminlayout.ejs') %>
<%- include('../Admin/adminHeader.ejs') %>

   
  <div class="container">
    <div class="row" style=>
        <div class="col-md-4" style="width: 100%;">
    <table class="table pt-5" >
        <thead>
            <tr>
                <th>No</th>
                <th>OrderId</th>
                <th>Date</th>
                <th>Name</th>
                <th>Total Price</th>
                <th>Payment Method</th>
                <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% result.forEach(function(result,index){%>
              <tr>
                <td><%=index +1%></td>
                <td><%=result._id%></td>
                <td><%=result.Date%></td>
                <td><%=result.Address[0].Firstname%></td>
                <td><%=result.totalPrice%></td>
                <td><%=result.paymentMode%></td>
                <td><%=result.paymentStatus%></td>
              </tr>
            <%})%>
                                    
          </tbody>
      </table>
    </div>
</div>
</div>
<script>
  $(document).ready(function() {
  $('#example').DataTable( {
      dom: 'Bfrtip',
      buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
      ]
  } );
} );
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>

   
   