
	
	<!-- Header section end -->
	<%- include('../User/layout.ejs') %>
	<%- include('../User/userheader.ejs') %>
	



<!-- Hero section -->

<section class="hero-section set-bg" >
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
		<%  bannerData.forEach(bannerData=> { %>
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<img src="/images/<%= bannerData.bannerImg %>" class="d-block w-100" alt="...">
		  </div>
		
		
		</div>
		<% }); %>
	  </div> 

	
</section>
<!-- - Hero section end -->

	
	<!-- Intro section -->
	<section class="intro-section spad pb-0">
		
		
		<div class="container">
			<div class="scrollbar">
				<div class="handle">
					<div class="mousearea"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->


	<!-- Featured section -->
	<div class="featured-section spad">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="featured-item">
						<img src="/User/img/featured/bodybuilders.jpg" class="body-img" alt="">
						<a href="#" class="site-btn">see more</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="featured-item mb-0">
						<img src="/User/img/featured/bodybuilders2.jpg" class="body-img" alt="">
						<a href="#" class="site-btn">see more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Featured section end -->


	<!-- Product section -->
	
	<section class="product-section spad">
		<div class="container">
			<ul class="product-filter controls">
				<li class="control" data-filter=".new">New arrivals</li>
				<li class="control" data-filter="all">Recommended</li>
				<li class="control" data-filter=".best">Best sellers</li>
			</ul>
			<div class="row ms-3" id="product-filter">
				<% result.forEach(function(result){%>
				<div class="mix col-lg-3 col-md-6 best">
					<div class="product-item ">
					
						<figure>
							<img src="images/<%=result.productImg[0]%>" class="img-product p-3"  alt="">
							<div class="pi-meta">
							</a href="/productdetails">
								<div class="pi-m-left">
								
									<img src="/User/img/icons/eye.png" alt="" >
									<p>quick view</p>
								  
								</div>
							</a>
								
								<div class="pi-m-right">
									<img src="/User/img/icons/heart.png" alt=""  onclick="wishlist('<%=result.id%>')">
									<p>save</p>
								</div>
					
							</div>
						</figure>
						<div class="product-info">
							<h6><%=result.productname%></h6>
							<p><%=result.price%></p>
						
							<a onclick="addtocart('<%=result.id%>')" class="site-btn btn-line" href="#">ADD TO CART</a>
						
						</div>
					</div>
				</div>
				<%})%>
			</div>
		</div>
	</section>
	
	<!-- Product section end -->


	
























		


	
	<%- include('../User/userfooter.ejs') %>	